:root {
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --accent-blue: #0C51A7;
    --border-primary: #D9D9D9;
    --accent-purple: #591B98;
    --text-headline: #E1624F;
    --accent-pink: #E5245E;
    --accent-orange: #E95E10;
    --background-default: #F5F4F0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    box-sizing: border-box;
}

body {
    background-color: var(--background-default);
    background-size: cover;
    color: var(--text-secondary);
}

#page {
    width: 1280px;
    /* height: 3279px; */
    padding: 88px 80px 48px;
    margin: auto;
    /* background-color: aqua; */
    box-sizing: border-box;
}

#container {
    width: 1120px;
    /* height: 3054px; */
    /* background-color: rgb(47, 78, 255); */
}

img {
    width: 100%;
    height: 660px;
    border-radius: 28px;
    object-fit: cover; /* Ajusta a proporção da imagem para caber no container disponível pra ela sem distorcer */
    margin-bottom: 24px;
}

div.card_travel img {
    height: 350px;
    margin-bottom: 20px;
}

/****** 1 title_page */
/* #title_page {
    height: 79px;
    margin-bottom: 40px;
    background-color: slategrey;
} */

.headline {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-headline);
    text-transform: uppercase; /* a fonte fica com todas as letras em maiúsculo */
    margin-bottom: 8px;
}

/****** 1 description_image */
#description_image {
    /* height: 729px; */
    margin: 40px 0;
    padding-block: 4px 0;
    /* background-color: gold; */
}
#description_image .description {
    height: auto;
}

.description {
    text-align: center;
    height: auto;
    font-style: italic;
}

/****** 1 content_list */
/* #content_list {
    height: 2020px;
    background-color: gray;
} */

.divider {
    height: 1px;
    background-color: var(--border-primary);
    margin: 40px 0;
}

#content_list .divider {
    margin: 0 0;
}

/****** 2 title_list */
#title_list {
    /* height: 164px; */
    margin: 64px 0;
}

/****** #title-con {
    height: 68px;
} */

#paragraph {
    margin-top: 8px;
}

.title {
    color: var(--text-primary);
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 > ol > li {
    /* height: 38px; */
    font-size: 28px;
}

/****** 2 list */
/*
#list {
    height: 1728px;
}
*/

/* .card_travel {
    height: 522px;
} */

/* .card_travel:last-of-type {
    height: 558px;
} */

.card_travel + .card_travel{
    margin-top: 48px;
}

.content_card > h3 {
    margin-bottom: 4px;
}

ul, ol {
    list-style-position: inside;
}

b {
    font-weight: bold;
}

ul > li:nth-child(1)::first-line {
    color: var(--accent-blue);
}

ul > li:nth-child(2)::first-line {
    color: var(--accent-pink);
}

ul > li:nth-child(3)::first-line {
    color: var(--accent-orange);
}

footer {
    /* height: 24px; */
    text-align: center;
    font-size: 18px;
    margin-top: 65px;
}