@import url(fields/index.css);

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: inherit;
}

.title_field {
    display: flex;
    align-items: center;
    gap: .75rem;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

legend {
    font: var(--heading-sm);
    color: var(--text-heading);
}

/* label {
    font: var(--body-sm);
    color: var(--text-body);
} */

.form-item {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.form-item-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}