* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-logo: 'Leckerli One', serif;
    --text-logo: 400 2.5rem/1 var(--font-logo);
    
    --font-heading: 'Baloo 2', sans-serif;
    --heading-md: 700 1.75rem/1 var(--font-heading);
    --heading-sm: 700 1.125rem/1 var(--font-heading);
    
    --font-body: 'Open Sans', sans-serif;
    --body-md: 400 1rem/1 var(--font-body);
    --body-sm: 400 0.875rem/1 var(--font-body);
    --body-xs: 400 0.75rem/1 var(--font-body); /* warning text */

    /* Brand */
    --brand-light: #59B2FF;
    --brand-md: #3487CF;
    --brand-dark: #1D6FB6;

    /* Accent Colors */
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    /* Feedback */
    --danger: #FF5959;
    
    /* Input */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /* Shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* Text */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

body {
    background-color: var(--shape-background);
    color: var(--text-body);
    font: var(--body-sm);
    overflow: hidden; /* sem scroll */
}