*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* MARCA */
    --snitap-sun: #FFCD1E;
    --snitap-sky-mid: #06B6D4;
    --snitap-sky-light: #67E8F9;
    --snitap-joy-mid: #DB2777;
    --snitap-joy-light: #F472B6;
    --snitap-leaf-mid: #16A34A;

    /* BASE */
    --text: #000000;
    --highlights: #000000;
    --background: #FAFAFA;

    --ff-base: "Montserat", sans-serif;
    
    --text-sm: .75rem;
    --text-base: 1rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;

    /* padding */
    --px-base: 1.5rem;

    --py-hero: 1rem 3rem;
    --py-banner: 1.5rem;
    --py-gallery: 1.5rem;
    --py-footer: 3rem 1.5rem;

    --slide-span: -2.5rem;
}

@media (width >= 80rem) {
    :root {
        --text-sm: .875rem;
        --text-xl: 4rem;
        --text-lg: 2.5rem;

        /* --- LAYOUT --- */
        --px-base: 2rem;

        --py-hero: 2.5rem;
        --py-banner: 2.5rem;
        --py-gallery: 2.5rem 2rem;
        --py-footer: 4rem 2rem;

        --slide-span: -5rem;
    }
}

html, button {
    font: 500 var(--text-base)/1.5 var(--ff-base);
}

h1, h2 {
    font-family: "Syne", sans-serif;
}

h1 {
    font-size: var(--text-xl);
    line-height: 1.25;
}

h2 {
    font-size: var(--text-lg);
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
}