.color-items {
    .color-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .color-inner {
            display: flex;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.375rem;
            justify-content: center;
            align-items: center;
            border-radius: 999px;
            
            background-color: var(--shape-button);
            
            &:hover {
                background-color: var(--shape-hover);
            }

            &:focus-within, &:has(:checked) {
                outline: 3px solid var(--brand-light);
            }
            
            input {
                width: 1.75rem;
                height: 1.75rem;
                flex: 1 0 0;
                cursor: pointer;
                
                border-radius: 999px;
            }
        }
    }
}

.color-inner {
    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        /* inset: 0; */
    }
}

.color-wrapper {
    #cor1 {
        background-color: var(--brand-light);
    }

    #cor2 {
        background-color: var(--navy);
    }

    #cor3 {
        background-color: var(--purple);
    }

    #cor4 {
        background-color: var(--fuschia);
    }

    #cor5 {
        background-color: var(--pink);
    }

    #cor6 {
        background-color: var(--danger);
    }

    #cor7 {
        background-color: var(--orange);
    }

    #cor8 {
        background-color: var(--yellow);
    }

    #cor9 {
        background-color: var(--lime);
    }

    #cor10 {
        background-color: var(--green);
    }

    #cor11 {
        background-color: var(--cyan);
    }
}