fieldset#sobre_evento {
    .form-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        :nth-child(1) {
            grid-column: 1/3;
        }

        :nth-child(4) {
            grid-column: 1/2;
        }

        :nth-child(6) {
            grid-column: 1/3;
        }
    }
}

fieldset#personalizacao {
    .form-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.75rem 1rem;
        
        .color-items, .theme-items {
            grid-column: 1/4;
        }

        .toggle-item {
            grid-column: 1/2;
        }

        .wallpaper-item {
            grid-column: span 2;
        }
    }
}

fieldset#contato {
    .form-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        :nth-child(1) {
            grid-column: span 2;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    border-top: 1px solid var(--input-stroke);
    
    .check-wrapper {
        margin-bottom: 3rem;
        gap: .25rem;
        align-items: flex-start;
        
        .check-inner {
            display: flex;
            align-items: center;
            padding-block: .25rem;
            gap: .75rem;

            .check-box {
                cursor: pointer;
                width: 1.25rem;
                height: 1.25rem;
                background-color: var(--input-base);
                border: 1px solid var(--input-stroke);
                border-radius: .25rem;

                input {
                    all: unset;
                    width: 100%;
                    height: 100%;
                }
                
                &:has(:checked) {
                    background: url(../../assets/icons/check-on.svg) no-repeat center/contain;
                    border-color: var(--brand-light);
                }

                &:focus, &:focus-within {
                    border-color: var(--brand-light);
                }
            }

            & label {
                span {
                    color: var(--brand-light);
                }
            }
        }
    }

    .action {
        display: flex;
        justify-content: end;
        
        & button {
            display: flex;
            align-items: center;
            height: 3rem;
            padding: .25rem 1.25rem;
            gap: .75rem;
            cursor: pointer;

            font: var(--body-md);
            color: var(--text-heading);
            border-radius: .5rem;
            background-color: var(--brand-dark);

            &:hover,
            &:focus-within,
            &:has(:checked) {
                background-color: var(--brand-md);
            }

            & img {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }
}