* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;

  /* CORES */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --content-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --gradient-border: linear-gradient(
    to right,
    var(--accent-green) 0%,
    var(--accent-lime) 14.84%,
    var(--accent-red) 32.15%,
    var(--accent-pink) 65.79%,
    var(--accent-blue) 84.58%
  );

  --gradient-background: linear-gradient(
    to right,
    var(--accent-green) 0%,
    var(--accent-blue) 98.93%
  );

  --gradient-content: linear-gradient(
    to right,
    var(--content-secondary) 0%,
    var(--background-gray) 100%
  );

  /* TIPOGRAFIA */
  --ff-sora: "Sora", serif;
  --display-lg: 900 4.5rem/1.3 var(--ff-sora);
  --display-md: 800 2.5rem/1.3 var(--ff-sora);
  --display-sm: 700 2rem/1.3 var(--ff-sora);

  --ff-roboto-mono: "Roboto Mono", serif;
  --overline: 700 1rem/1.5 var(--ff-roboto-mono);

  --ff-roboto-flex: "Roboto Flex", serif;
  --paragraph-lg: 500 1rem/1.5 var(--ff-roboto-flex);
  --paragraph-md: 500 0.875rem/1.5 var(--ff-roboto-flex);
  --paragraph-sm: 500 0.75rem/1.5 var(--ff-roboto-flex);
  --label-md: 700 1.25rem/1.5 var(--ff-roboto-flex);
  --label-sm: 700 1rem/1.5 var(--ff-roboto-flex);
}

body {
  background: url(../assets/background.png) var(--background-primary);
  font: var(--paragraph-lg);
  color: var(--content-primary);

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  --max-width: 24.375rem;
  width: min(var(--max-width), 100% + 2rem * 2);
  /* width: 100%; */
  height: 100%;
  margin-inline: auto;

  /* outline: solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2.75rem 2rem;
}

@media (width >= 85rem) {
  #app {
    --max-width: 85rem;
    max-width: min-content;
    padding: 76px 120px 153px;

    & #logo {
      align-self: start;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
