*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* COLORS */
    --bg-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A;
    --text-color-primary: #F4F4F5;
    --text-color-secondary: #A1A1AA;
    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;

    /* FONTS - family, weight, size */
    --ff-sans: 'Inter', system-ui, sans-serif;
    --fw-base: 400;
    --fw-md: 500;
    --fw-bold: 800;
    
    /* all */
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    /* Mobile */
    --fs-lg: 1.25rem;
    --fs-xlg: 1.5rem;
    --fs-2xlg: 2.5rem;

    /* padding */
    --py-base: 1rem;
    --py-lg: 1.5rem;
    --py-xl: 3rem;
    --px-lg: 1.5rem;

}

@media (width >= 80em) {
    :root {
        --fs-lg: 2rem;
        --fs-xlg: 3rem;
        --fs-2xlg: 4rem;

        --py-base: 1.5rem;
        --py-lg: 2.5rem;
        --py-xl: 5rem;
        --px-lg: 2rem;
    }
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--text-color-primary);

    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

h1, h2, h3 {
    line-height: 1.2;
    color: var(--text-color-primary);
    font-weight: var(--fw-bold);
    letter-spacing: 0.04em;
}

h1 {
    font-size: var(--fs-2xlg);
}

h2 {
    font-size: var(--fs-xlg);
}

h3 {
    font-size: var(--fs-lg);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background: linear-gradient(
        90deg,
        var(--brand-color-secondary) 0%,
        var(--brand-color-primary) 100%
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

ul[role="list"] {
    list-style: none;
}

img {
    max-width: 100%;
    display: inline-block;
}