#app {
    width: 22.5rem;
    margin-inline: auto;
    flex-direction: column;
}

main {
    & .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1.5rem;
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;
    }
}

aside {
    order: -1;
    background-color: var(--surface-secondary);

    & .aside-container {
        & > img {
            margin-top: 0;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);

        span {
            color: var(--text-highlight);
        }
    }

    & header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
    }
}

@media (width >= 80rem) {
    #app {
        display: grid;
        grid-template-columns: 51.25% 48.75%;
        width: auto;
        height: 100vh;
        overflow: hidden;
    }
    
    main {
        overflow: auto;

        & .main-container {
            max-width: 33rem;
            margin-left: auto;
        }
    }
    
    aside {
        order: 0;
        background-color: var(--surface-secondary);

        & .aside-container {
            max-width: 31rem;
            margin-right: auto;

            & > img {
                margin-top: 2rem;
            }
        }
    
        & h2 {
            font: 600 2.5rem/1.25 var(--font-family);
            span {
                color: var(--text-highlight);
            }
        }
    }
}