#featured {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    h2 {
        margin-top: .5rem;
    }
    
    #noticia-main {
        height: 26rem;

        h2 {
            height: 5.75rem;
        }
    }

    .card {
        position: relative;
        overflow: hidden;
        border-radius: 4px;

        &::before { /* & referencia para .card */
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background-color: white;
            background: linear-gradient(
                180deg, /* angulação */
                transparent 0%, /* cor inicial */
                #020617 100% /* cor final */
            );
        }

        figcaption {
            position: absolute;
            bottom: 0;
            
            &:has(.text-lg){
                padding: .875rem;
            }
        }
    }
}

@media (width >= 80rem) {
    #featured {
        grid-area: featured;

        #noticia-main {
            height: 100%;
        }

        #noticias {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}